.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font-size;
    padding: 1rem 2rem;
    font-weight: 400;
  }

  &--purple {
    background-color: #CC66FF;
    color: $color-white;
  }
}
