// .flower-image {
//   width: 100%;
//   margin-left: -2rem;
//   margin-bottom: 7.5px;
// }

.flower-image {
  background-image: url(../img/flower.jpg);
  width: 100%;
  height: 77vh;
  background-size: cover;
  background-position: top;
}

.massage-image {
  width: 100%;
  margin-bottom: -5px;
}
