.u-center-text { text-align: center !important; }
.u-right-text { text-align: right !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-small-2 { margin-bottom: 2rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}
.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-left-small { margin-left: 2rem !important; }
.u-margin-left-big { margin-left: 8rem !important; }
.u-margin-left-huge { margin-left: 16rem !important; }

.u-padding-horizontal-medium {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}
.u-padding-horizontal-big {
  padding-left: 11rem !important;
  padding-right: 11rem !important;
}

.u-padding-right-small {
  padding-right: 2rem !important;
}

.u-border-right {
  border-right: 1px solid $color-white !important;
}

.no-margin {
  max-width: none !important;
  margin: 0 !important;
}

.u-inline {
  display: inline-block;
}
